body{
  background-color: #04AA6D;
}
 .Menu-Vertical {
    width: 300px; 
    margin-left: auto; 
    margin-right:auto ;
  }
  
  .Menu-Vertical a {
    background-color: #9b3cbb;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .Menu-Vertical a:hover {
    background-color: #bb72b7;
  }
  
  .Menu-Vertical a.active {
    background-color: #04AA6D;
    color: rgb(54, 2, 50);
  }

 
